<h1>All Restaurants</h1>
<ul class="list-group list-group-flush">
  <% @restaurants.each do |restaurant| %>
    <li class="list-group-item m-3"><div class="container-lg p-3 d-flex flex-column align-items-center"><h3><%= link_to restaurant.name, restaurant_path(restaurant), class: "link-dark" %></h3>
    <p> City: <%= restaurant.address %></p>
    <p> Category: <%= restaurant.category %></p>
    <% if restaurant.phone_number != nil  %>
      <p> Number: <%= restaurant.phone_number %></p>
    <% end  %>
    </li>
  <% end %>
</ul>